main {
    padding: o 24px;
}

.p-gray{
    color: gray;
    text-align: start;
}

.container {
    max-width: 900px;
    height: 650px;
    display: flex;
    gap: 30px;
}

.box-1 {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    max-width: 300px;
    min-height: 100px;
    text-align: center;
}

.box-2 {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    max-width: 300px;
    min-height: 100px;
    text-align: center;
    background-color: rgb(117, 66, 247);
}
.box-3 {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    max-width: 300px;
    min-height: 100px;
    text-align: center;
} 

.button-1{
    background-color: rgb(117, 66, 247);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: white;
}

.p-evi{
    background-color: grey;
    width: 80px;
}

li {
    list-style-type: none;
    text-align: start;
}

.button-2{
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: rgb(117, 66, 247);
}

.lettere-2{
    color: white;
}